// 
// _footer.scss
// 

.footer-part {
    position: relative;
    background-color: $primary;
    p {
        font-size: 17px;
    }

    li {
        margin-bottom: 10px;
        a {
            font-size: 15px;
            transition: all 0.5s;
            &:hover {
                color: $light !important;
                margin: 5px;
                i {
                    color: $light !important;
                }
            }
        }
    }

        .form-button{
            form{
                position: relative;
            }
            input{
                padding: 13px 10px;
                box-shadow: none;
                border-color:transparent ;
                background-color: rgba($success , .1);
                color: $light;
                &::placeholder {
                    color: $light;
                }
            }
                a{
                    background-color: $primary;
                    display: inline-block;
                    padding: 7px 20px;
                    border-radius: 5px;
                    color: $white;
                    position: absolute;
                    right: 0;
                    font-size: 17px;
                }
        }
    }
    .footer-copyright{
        background-color: #032833 !important;
        }


