.form-group {
    margin-bottom: 1rem;
    input {
        &.form-control {
            padding: 10px;
        }
        &::placeholder {
            color: $gray-400;
        }
    }

    p {
        font-size: 14px;
    }
}
label {
    margin-bottom: 0.25rem;
}
.signup-section{
    background-image: url("../images/login-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 110px;


}
.login-content{
    position: relative;
}
.login-section {
    background-image: url("../images/login-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 150px;

    .login-icon {
        li {
            margin: 0 10px 0 10px;
            i {
                color: $gray-600;
                font-size: 20px;
            }
        }
    }
}
.reset-section {
    padding: 250px 0;
}

.home-icon {
    top: 5%;
    left: 90%;
    a {
        font-size: 30px;
        color: $primary;
    }
}
