/* 
// 04.general
*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Public Sans', sans-serif;}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
p {
    font-size: 17px;
    color: $gray-500;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 400 !important;
}
h6 {
    font-size: 18px !important;
    font-weight: 400;
}
.logo {
    i {
        font-weight: normal !important;
    }
}

.form-control{
    box-shadow: none !important;
}
.bg-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 41, 54, 0.71);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-overlay-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background-color: rgba(0 41 54 / 82%);
    background-color: rgba(0, 41, 54, 0.71);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
}



.section-title-border{
    width: 50px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: $success;
}
.title-sm{
    span{
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 17px;
        color: $dark;
    }
}
.shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
