.hero-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0 300px 0;
    position: relative;
    overflow: hidden;
}
@media (max-width: 991px) {
    .hero-section {
        padding: 150px 0 100px 0;
    }
}
.bg-img-2 {
    padding: 300px 0;
    position: relative;
    #myVideo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// .bg-img-3{
//     background-image: url("../images/bg-img-3.png");
// }
.bg-home-3 {
    padding: 150px 0;
    .phone-img {
        width: 60%;
    }
    .mobile-phone {
        background-image: url("../images/cccircular.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .rotate-text {
        position: absolute;
        top: 37%;
        left: 77%;
        rotate: 90deg;
        h1 {
            color: $gray-200;
            font-size: 200px;
        }
    }
}

.bg-home-4 {
    padding: 100px 0;
    .main-man {
        position: relative;
        .main-man-content {
            position: absolute;
            top: 10%;
            left: 80%;
            width: 35%;
            background-color: $white;
            i {
                font-size: 11px;
            }
            @media (max-width: 991px) {
                display: none !important;
            }
        }
        .main-man-content-1 {
            position: absolute;
            top: 28%;
            left: 90%;
            width: 35%;
            background-color: $white;

            i {
                font-size: 11px;
            }
            @media (max-width: 991px) {
                display: none !important;
            }
        }
        .main-man-content-2 {
            position: absolute;
            top: 40%;
            left: 78%;
            width: 35%;
            i {
                font-size: 11px;
            }
            @media (max-width: 991px) {
                display: none !important;
            }
        }
    }

}
.bg-img-5 {
    background: linear-gradient(to right, #073341, #021116);
    padding: 200px 0 150px 0;
    .ml10 {
        position: relative;
        font-size: 4em;
    }

    .ml10 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }

    .ml10 .letter {
        display: inline-block;
        line-height: 1em;
        transform-origin: 0 0;
    }
}

.bg-img-6 {
    background-image: url("../images/bg-6.jpg");
}
.bg-home-6 {
    .icon-text {
        backdrop-filter: blur(10px);
        background-color: #91929218;
        i {
            background-color: #fff3cd1c;
        }
    }
    .registration-input-box {
        color: #79798b;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid #c5c5c5;
        box-shadow: none;
        background-color: $light !important;
        
    }
}

.bg-home-7{
    padding: 200px 0;
    background-image: url("../images/bg-img-4.png");
    .form-button{
        position: relative;
        .form-control{
            width: 37%;
            @media (max-width: 991px) {
                width: 100%;
            }
        }
        button{
            position: absolute;
            left: 59%;
            @media (max-width: 991px) {
                left: 67%;
            }
        }
    }
}

.hero-part {
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $success;
    background-size: 100% 40%;
    border-radius: 50%;
}

.login-header{
    padding: 150px 0;
}