.price-section {
    .card {
        position: relative;
        width: 98%;
        overflow: hidden;
        padding: 30px 30px;
        transition: all 0.5s ease-in-out;
        border-radius: 20px !important;
        @media (max-width: 991px) {
            padding: 50px 20px;
        }
        &:hover {
            transform: translateY(-0.5rem);
        }
    }
    .btn {
        border-width: 1px !important;
    }
    ul{
        li{
            font-size: 18px;
            margin: 15px 0;
        }
    }

}

.price-info-3{
    ul{
        li{
            font-size: 18px;
            margin: 15px 0;
            color: $gray-500;
        }
    }
}