.services-section {
    .services-content {
        border-radius: 8px;
    }
}

.work-section {
    .icon i {
        font-size: 26px;
        color: $primary;
        padding: 12px;
        background-color: rgba($success, 0.2);
        border-radius: 10px;
        transition: 0.7s;
    }
    .icon-text {
        &:hover {
            i {
                background-color: $primary;
                color: $light;
                box-shadow: 0px 0px 7px 3px $success;
            }
        }
    }
    // .man-img{
    //     &::after {
    //         content: "";
    //         position: absolute;
    //         left: 107px;
    //         height: 757px;
    //         width: 260px;
    //         background-color: rgba($success, 0.4);
    //         margin: 0 auto;
    //         bottom: 50%;
    //         transform: translateY(50%);
    //         transition: all .5s;
    //         z-index: -1;
    //         border-radius: 10px;
    //     }
    // }

}
.services-content-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
    cursor: pointer;
    i {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        flex-shrink: 0;
        border: 2px solid #f3f6f9;
        transition: 0.7s;
    }
}

